/*
 * Base structure
 */
html {
  position: relative;
  min-height: 100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-bottom: 120px;
  overflow:hidden;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow: hidden;
    /*overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
#listcontainer{
	position:absolute;
	top:0px;
	bottom:250px;
	left:0px;
	right:0px;
	padding: 0 20px;
	overflow-y:auto;
}
#buttoncontainer{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	padding:20px;
	background-color: #f5f5f5;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
.logincontainer{
	padding:0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none;
    }
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.stockItem{
overflow:hidden;
}

.numpad{
	margin-bottom:10px;
}
.tablebuttongroup{
	width:127px;
}
.greyText{
	color:#C2C2C2;
	}
#tabContents{
	padding-top:20px;
}
.bg-image-div{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url('img/bg1.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:-300;
}
.landing-header-container{
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.75);
}
.landing-header {
	display:block;
	padding:1em 0 1em 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size:3em;
}
.landing-sub-header{
	display:block;
	padding:0.3em 0 0.3em 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size:3em;
}
.landing-copy{
	display:block;
	padding:1em 0 1em 0;
	font-size:1.5em;
	
}
.landing-list{
	padding:1em 0 1em 0;
	font-size:1.5em;
	padding-left:2em;
}
.landing-action{
border: solid 3px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
margin-top: 20px;
}
.landing-action:hover{
	color:#428bca;
	cursor: pointer;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 100px;
	background-color:#EEE;
}
.footer a{
	color: #999;
	text-decoration:none;
}
/*boop*/