body {
	background: #ffffff; 
}
.marginbottom{
	margin-bottom:2em;
}
/*two new classes for the remove-cash button*/
.remove-cash{
	color: #d2322d;
}
.remove-cash:hover{
	color: #E78585;
	text-decoration: none;
}