/**
Theme Name: cash-thing.com
Theme Description: cash-thing.com home page theme
*/

@import url('css/bootstrap.min.css');
@import url('css/full-width-pics.css');
@import url('http://fonts.googleapis.com/css?family=Roboto:300');
@import url('http://fonts.googleapis.com/css?family=Merriweather');


/*
 * Base structure
 */
html {
  position: relative;
  min-height: 100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-bottom: 120px;
}
.wrapper{
    margin-top:80px;
}
.blog p{
    font-family: 'Merriweather', serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    line-height: 1.8;
    font-size: 19px;
    color: rgb(98, 88, 82);
    margin-bottom:2em;
}

.blog p img{
    float:left;
    margin:20px;
}
.blog blockquote{
    font-style: italic;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
.logincontainer{
    padding:0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
@media (max-width: 480px) {
    .nav-tabs > li {
        float:none;
    }
}

.greyText{
    color:#C2C2C2;
    }


.landing-header-container{
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.75);
}
.landing-header, h1 {
    display:block;
    padding:1em 0 1em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:3em;
}
.landing-sub-header, h2{
    display:block;
    padding:0.3em 0 0.3em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:3em;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:2.5em;
}
.landing-copy{
    display:block;
    padding:1em 0 1em 0;
    font-size:1.5em;

}
.landing-list{
    padding:1em 0 1em 0;
    font-size:1.5em;
    padding-left:2em;
}
.landing-action{
border: solid 3px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
margin-top: 20px;
}
.landing-action:hover{
    color:#428bca;
    cursor: pointer;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color:#EEE;
}
.footer a{
    color: #999;
    text-decoration:none;
}
/*boop*/
